
@import 'variables';
@tmpte-fonts:  "https://fonts.googleapis.com/css?family=Average|Patua+One|Alegreya+Sans:700&subset=latin,latin-ext";

.tb-megamenu.style-blue {
  background-color: @brand-secondary;

  .dropdown-menu .active {
    & > a, & > a:hover {
      background-image: none;
      background-color: transparent;
      color: @brand-primary;
      font-weight: bold;
    }
  }

  .nav-no .open.active-trail {
    & > a, & > a:hover, & > a:focus {
      border-top: 2px solid @brand-primary;
    }
  }

  .tb-block .block-title {
    text-decoration: underline;
  }

  .tb-block ul {
    padding-left: 1em;
    li {
      list-style-type: disc;
    }
  }
}

.navibottom-container-outer {
  background-color: @brand-secondary;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
}

ul.dropdown-menu.dropdown-menu-rightside {
  top: 0;
  left: 100%;
}

h2.block-title {
  font-size: 30px;
}

.nav > li > a {
  padding-left: 5px;
}

.page-slogan {
  font-size: 16px;
  font-weight: bold;
  color: white !important;
  font-family: "Alegreya Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar-serving {
  margin-bottom: 1em;
}

.sidebar-first {
  h1, h2, h3, h4 {
    color: darken(@brand-primary, 20%);
  }
}

@tmc-triangle-rad: 33%;
@tmc-triangle-circ: 50%;

.tmc-fig {
  position: relative;

  .line {
    background-color: #4F81BD;

    box-shadow: 0 0 0 2px #395E89, 0 0 5px 2px rgba(0, 0, 0, 0.5);
    height: 2%;
    width: @tmc-triangle-rad * 1.732;

    position: absolute;

    transform-origin: left;
    z-index: 3;
  }

  .circle {
    background-color: #4F81BD;
    box-shadow: 0 0 0 2px white, 0 0 5px 2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.5s;

    height: @tmc-triangle-circ;
    width: @tmc-triangle-circ;
    border-radius: 50%;

    position: absolute;
    display: table;

    & > div {
      display: table-cell;
      vertical-align: middle;

      text-align: center;
      font-weight: bold;
      color: white;

      width: 100%;
      height: 100%;
    }

    &:hover {
      box-shadow: 0 0 0 3px white, 0 0 5px 5px rgba(0, 0, 0, 0.5);
    }
  }
}

#tmc-triangle-line1, #tmc-triangle-line2 {
  left: 50% - @tmc-triangle-rad * 0.866;
  top:  50% - @tmc-triangle-rad * 0.5;
}
#tmc-triangle-line2 {
  transform: rotate(60deg);
}
#tmc-triangle-line3 {
  left: 50%;
  top:  50% + @tmc-triangle-rad;
  transform: rotate(-60deg);
}
#tmc-triangle-clinical {
  left: 50% - @tmc-triangle-rad * 0.866 - @tmc-triangle-circ / 2;
  top:  50% - @tmc-triangle-rad * 0.5   - @tmc-triangle-circ / 2;
  background-color: #c00000;
}
#tmc-triangle-basic {
  left: 50% + @tmc-triangle-rad * 0.866 - @tmc-triangle-circ / 2;
  top:  50% - @tmc-triangle-rad * 0.5   - @tmc-triangle-circ / 2;
  background-color: #ffc000;
}
#tmc-triangle-md {
  left: 50% - @tmc-triangle-rad * 0     - @tmc-triangle-circ / 2;
  top:  50% + @tmc-triangle-rad         - @tmc-triangle-circ / 2;
  background-color: #595959;
}
#tmc-triangle-line1    { left:  25%;   top: 27.35%;}
#tmc-triangle-line2    { left:  25%;   top: 27.35%; transform: rotate(60deg);}
#tmc-triangle-line3    { left:  50%;   top: 70.6%;  transform: rotate(-60deg);}
#tmc-triangle-clinical { left:  12.5%; top: 15.85%; background-color: #c00000;}
#tmc-triangle-basic    { right: 12.5%; top: 15.85%; background-color: #ffc000;}
#tmc-triangle-md       { left:  37.5%; top: 59.1%;  background-color: #595959;}
