
@import 'variables';
@tmpte-fonts:  "https://fonts.googleapis.com/css?family=Average|Patua+One|Alegreya+Sans:700&subset=latin,latin-ext";

h1 {
  font-size: 40px;
}

h2.block-title {
  font-size: 30px;
}


.tb-megamenu.style-blue {
  background-color: @brand-secondary;

  .dropdown-menu .active {
    & > a, & > a:hover {
      background-image: none;
      background-color: transparent;
      color: @brand-primary;
      font-weight: bold;
    }
  }

  .nav-no .open.active-trail {
    & > a, & > a:hover, & > a:focus {
      border-top: 2px solid @brand-primary;
    }
  }

  .tb-block .block-title {
    text-decoration: underline;
  }

  .tb-block ul {
    padding-left: 1em;
    li {
      list-style-type: disc;
    }
  }
}

.navibottom-container-outer {
  background-color: @brand-secondary;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
}

ul.dropdown-menu.dropdown-menu-rightside {
  top: 0;
  left: 100%;
}

.nav > li > a {
  padding-left: 5px;
}

.page-slogan {
  font-size: 16px;
  font-weight: bold;
  color: white !important;
  font-family: "Alegreya Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 50px;
}

.page-name {
  position: absolute;
  bottom: 10px;

  h1 {
    color: white !important;
    margin: 0;
    border-left: 2px solid white;
    padding-left: 0.2em;
  }
}

.sidebar-serving {
  margin-bottom: 1em;
}

.sidebar-first {
  h1, h2, h3, h4 {
    color: darken(@brand-primary, 20%);
  }
}

/* TMC Triangle */

@tmc-triangle-rad: 28%;
@tmc-triangle-circ: 40%;

.tmc-fig {
  position: relative;

  .line {
    background-color: #4F81BD;

    box-shadow: 0 0 0 2px #395E89, 0 0 5px 2px rgba(0, 0, 0, 0.5);
    height: 2%;
    width: @tmc-triangle-rad * 1.732;

    position: absolute;

    transform-origin: left;
  }

  .circle {
    background-color: #4F81BD;
    box-shadow: 0 0 0 2px white, 0 0 5px 2px rgba(0, 0, 0, 0.5);
    color: white;
    transition: box-shadow 0.5s;

    height: @tmc-triangle-circ;
    width: @tmc-triangle-circ;
    border-radius: 50%;

    position: absolute;
    display: table;

    & > div {
      display: table-cell;
      vertical-align: middle;

      text-align: center;
      font-weight: bold;
      color: white;

      width: 100%;
      height: 100%;
    }

    &:hover {
      box-shadow: 0 0 0 3px white, 0 0 5px 5px rgba(0, 0, 0, 0.5);
    }

    a {
      color: inherit;
    }
  }
}

#tmc-triangle-line1, #tmc-triangle-line2 {
  left: 50% - @tmc-triangle-rad * 0.866;
  top:  50% - @tmc-triangle-rad * 0.5;
}
#tmc-triangle-line2 {
  transform: rotate(60deg);
}
#tmc-triangle-line3 {
  left: 50%;
  top:  50% + @tmc-triangle-rad;
  transform: rotate(-60deg);
}
#tmc-triangle-clinical {
  left: 50% - @tmc-triangle-rad * 0.866 - @tmc-triangle-circ / 2;
  top:  50% - @tmc-triangle-rad * 0.5   - @tmc-triangle-circ / 2;
  background-color: #c00000;
}
#tmc-triangle-basic {
  left: 50% + @tmc-triangle-rad * 0.866 - @tmc-triangle-circ / 2;
  top:  50% - @tmc-triangle-rad * 0.5   - @tmc-triangle-circ / 2;
  background-color: #ffc000;
}
#tmc-triangle-md {
  left: 50% - @tmc-triangle-rad * 0     - @tmc-triangle-circ / 2;
  top:  50% + @tmc-triangle-rad         - @tmc-triangle-circ / 2;
  background-color: #595959;
}

/* STUDY labels */

@opr-study-color-easy:      #2E518F;
@opr-study-color-apple:     #006600;
@opr-study-color-pineapple: #E66E00;
@opr-study-color-register:  #666666;

.opr-study-label {
  display: inline-block;
  background-color: #333;
  background-image: none;
  border: 5px outset #777;
  padding: 0.2em 0.5em;
  color: white;
  font-weight: bold;

  a {
    color: inherit;
  }

  &.opr-study-EASY {
    background-color: @opr-study-color-easy;
    border-color: @opr-study-color-easy;
  }
  &.opr-study-APPLE-P, &.opr-study-APPLE-R {
    background-color: @opr-study-color-apple;
    border-color: @opr-study-color-apple;
  }
  &.opr-study-PINEAPPLE-P, &.opr-study-PINEAPPLE-R {
    background-color: @opr-study-color-pineapple;
    border-color: @opr-study-color-pineapple;
  }
  /*
  &.opr-study-Register,
  &.opr-study-Register-AP,
  &.opr-study-Register-CP,
  &.opr-study-Register-PC {
    background-color: @opr-study-color-register;
    border-color: @opr-study-color-register;
  }
  */
}

table.stat {
  tr.stat-sum {
    td {
      border-top-width: 3px;
      background-color: #eee;
      font-weight: bold;
    }
  }

  td.stat-col-count {
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold
  }
}

div.staff-dept {
  margin-bottom: 1em;

  div.staff-dept-head {
    font-size: 16px;
    display: inline-block;
    padding: 0.2em 0.5em;
    margin-bottom: 0.5em;
    background-color: #eee;
    cursor: default;

    box-shadow: 0 0 0 2px white, 0 0 5px 2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 0 0 2px white, 0 0 10px 3px rgba(0, 0, 0, 0.5);
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  div.staff-dept-head:after {
    content:"\A";
    white-space:pre;
  }

  div.staff-member {
    display: inline-block;
    padding: 0.2em 0.5em;
    background-color: #eee;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    cursor: default;
    box-shadow: 0 0 0 2px white, 0 0 3px 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.5s;

    a {
      color: inherit;
      text-decoration: underline;
    }

    &:hover {
      box-shadow: 0 0 0 2px white, 0 0 10px 3px rgba(0, 0, 0, 0.5);
    }

    &.staff-member-inactive {
      color: @gray-lighter !important;
      box-shadow: none !important;
    }
  }

  &.staff-dept-lead div.staff-member,
  &.staff-dept-lead div.staff-dept-head {
    color: #fff;
    background-color: @gray-light;
    text-transform: uppercase;
  }

  &.staff-dept-it div.staff-member,
  &.staff-dept-it div.staff-dept-head {
    color: #fff;
    background-color: @brand-success;
  }

  &.staff-dept-biostat div.staff-member,
  &.staff-dept-biostat div.staff-dept-head {
    color: #fff;
    background-color: @brand-warning;
  }

  &.staff-dept-admin div.staff-member,
  &.staff-dept-admin div.staff-dept-head {
    color: #fff;
    background-color: @brand-primary;
  }

  &.staff-dept-doc div.staff-member,
  &.staff-dept-doc div.staff-dept-head {
    color: #fff;
    background-color: @brand-danger;
  }
}

div.staff-detail {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid @gray-light;
}

ul.logo-list {
  li {
    list-style-type: none;
    margin-bottom: 20px;
  }
}

article.node {
  h3 {
    font-size: 26px;
  }

  p > img {
    margin: 1em 2em 1em 0;
  }
}

form.node-form {
  div.field-group-conditional {
    td.field-group-conditional-parent-field {
      .form-type-radios > label.control-label {
        display: none;
      }
    }
  }
}
